<!-- Note: This is Injected into `views/layouts/layout-email.ejs` -->
<p style="margin-bottom: 25px">Welcome, <%= fullName %>,</p>
<p style="margin-bottom: 25px">
  You are almost ready to continue with the registration process for Mayabmoot 2020. Just click the button below. below
  to confirm your account email address:
</p>
<div style="margin-bottom: 25px; text-align: center">
  <a
    style="
      background-color: #28afb0;
      display: inline-block;
      font-size: 1.1.em;
      color: #fff;
      padding: 10px 35px 10px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 7px;
    "
    href="<%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %>"
    >Email Confirm</a
  >
</div>
<p style="margin-bottom: 25px">
  If you have a problem, try paste this link in your browser:
  <a
    style="color: #28afb0; word-wrap: break-word"
    href="<%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %>"
    ><%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %></a
  >
</p>
<p style="margin-bottom: 5px">Sincerly,</p>
<p style="margin-top: 0px">Mayabot Team</p>
