<!-- Note: This is Injected into `views/layouts/layout-email.ejs` -->
<p style="margin-bottom: 25px">Querid@ <%= fullName %>,</p>
<p style="margin-bottom: 25px">
  Someone requested a password reset for your account. If it wasn't you, please ignore this email. Of Otherwise, just
  click the button below:
</p>
<div style="margin-bottom: 25px; text-align: center">
  <a
    style="
      background-color: #28afb0;
      display: inline-block;
      font-size: 1.1.em;
      color: #fff;
      padding: 10px 35px 10px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 7px;
    "
    href="<%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %>"
    >Update Password</a
  >
</div>
<p style="margin-bottom: 25px">
  If you have a problem, try paste this link in your browser:
  <a
    style="color: #28afb0; word-wrap: break-word"
    href="<%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %>"
    ><%= url.resolve(config.custom.frontUrl,'auth/password-recovery/')+encodeURIComponent(token) %></a
  >
</p>
<p style="margin-bottom: 5px">Sincerly,</p>
<p style="margin-top: 0px">Mayabot Team</p>
